server:
  port: 8082

spring:
  application:
    name: theatre-service
  datasource:
    url: jdbc:postgresql://localhost:5432/theatre_db
    username: bmt
    password: bmt
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
