server:
  port: 8083

spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: bmt
    password: bmt
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379

theatre:
  base-url: ${THEATRE_SERVICE_BASEURL:http://localhost:8082}
inventory:
  lock-ttl-seconds: 300
